input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

htm {
  box-sizing: border-box;
  font-family: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  line-height: 1.6;
  font-weight: 400;
}
