input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
svg,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--color-bg-grey);
}
