.navigation {
  position: relative;
  background-color: var(--color-bg-grey-light);

  &__box {
    background-color: inherit;
    padding: 1rem;
    max-width: 98rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo-box {
    position: relative;
    z-index: 69;
    margin-right: auto;
  }
  &__links {
    display: flex;
  }
  &__logo {
    height: 3rem;
  }
  &__icon {
    height: 1.6rem;
    margin-right: 0.5rem;
  }
  &__link {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-text-light);
    transition: all 0.4s;
    &:hover {
      color: var(--color-text-dark);
      transform: translateX(0.5rem);
    }
  }
  &__switch {
    // display: inline-block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    font-size: inherit;
    transition: transform 0.4s;
  }
  &__responsive {
    display: none;
    position: relative;
    z-index: 69;
    color: var(--color-text-dark);

    // font-size: 2rem;
  }
  &__show-links {
    transform: translateX(0) !important;
    // opacity: 1;
    visibility: visible !important;
  }
  @media only screen and (max-width: $tablet-portait) {
    &__responsive {
      display: block;
    }
    &__link {
      margin: 0;
      margin-bottom: 2rem;
    }
    &__links {
      visibility: hidden;
      height: 100vh;
      padding: 6rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);
      align-items: center;
      width: 100%;
      background-color: inherit;
      display: flex;
      flex-direction: column;
      // animation: moveOutTop 0.4s;
      transition: all 0.4s;
    }
  }
}
.rotate {
  transform: rotate(90deg);
}

#moon {
  transition: opacity 0.8s, transform 1.1s;
  &:active {
    transform: translateX(1.7rem);
  }
}
#sun {
  &:active {
    transition: opacity 0.8s, transform 1.1s;
    transform: translateX(-1.7rem);
  }
}

.header {
  max-width: 98rem;
  margin: 0 auto;
  display: flex;
  padding: 3rem;

  min-height: 10rem;
  align-items: center;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    &__ilustration {
      display: none;
    }
    &__ilustration,
    &__about {
      width: 100% !important;
    }
  }
  &__ilustration {
    width: 50%;
  }
  &__text {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-text-dark);
  }
  &__about {
    width: 50%;
  }
  &__image {
    width: 100%;
  }
}
