:root {
  --color-bg-grey: #ebf1f4;
  --color-bg-grey-light: #ffffff;
  --color-primary: #6c63ff;
  --color-primary-light: #d9e1ff;
  --color-primary-light-1: #b3c3ff;
  --color-primary-dark: #485fb3;
  --color-white: #ffffff;
  --color-text-light: #aeb9c7;
  --color-text-dark: #2e384d;
}
.dark {
  --color-bg-grey: #252e42;
  --color-bg-grey-light: #2f3b52;
  --color-primary: #6c63ff;
  --color-primary-light: #d9e1ff;
  --color-primary-light-1: #b3c3ff;
  --color-primary-dark: #485fb3;
  --color-white: #ffffff;
  --color-text-light: #aeb9c7;
  --color-text-dark: #ffffff;
}
