:root {
  --color-black: #000000;
  --color-bg-grey: #f9fafb;
  --color-bg-grey-light: #ffffff;
  --color-primary: #6c63ff;
  --color-primary-1: #544bfa;
  --color-secondary: #007fff;
  --color-secondary-1: #006bd6;
  --color-primary-light: #d9e1ff;
  --color-primary-light-1: #b3c3ff;
  --color-primary-dark: #485fb3;
  --color-white: #ffffff;
  --color-text-light: #707275;
  --color-text-dark: #2e384d;
  --small-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --normal-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --big-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.11); }

.dark {
  --color-bg-grey: #161b27;
  --color-bg-grey-light: #1d2531;
  --color-primary: #6c63ff;
  --color-primary-light: #d9e1ff;
  --color-primary-light-1: #b3c3ff;
  --color-primary-dark: #485fb3;
  --color-white: #ffffff;
  --color-text-light: #818a96;
  --color-text-dark: #ffffff; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.visible {
  visibility: visible;
  opacity: 1; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: var(--color-text-dark); } }

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: transparent;
  border: none; }
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    outline: none; }

svg,
a {
  -webkit-tap-highlight-color: transparent; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: var(--color-bg-grey); }

.loading {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5rem;
  color: #000000;
  background-color: var(--color-bg-grey-light); }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-grey-light);
  z-index: 70; }
  .navigation__box {
    background-color: inherit;
    padding: 1rem;
    max-width: 98rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__logo-box {
    position: relative;
    z-index: 69;
    margin-right: auto; }
  .navigation__links {
    display: flex; }
  .navigation__logo {
    height: 3rem; }
  .navigation__icon {
    height: 1.6rem;
    margin-right: 0.5rem; }
  .navigation__link {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-text-light);
    transition: all 0.4s; }
    .navigation__link:hover {
      color: var(--color-text-dark);
      transform: translateX(0.5rem); }
  .navigation__switch {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    font-size: inherit;
    transition: transform 0.4s; }
  .navigation__responsive {
    display: none;
    position: relative;
    z-index: 69;
    color: var(--color-text-dark); }
  .navigation__show-links {
    transform: translateY(0) !important;
    visibility: visible !important; }
  @media only screen and (max-width: 800px) {
    .navigation__responsive {
      display: block; }
    .navigation__link {
      margin: 0;
      margin-bottom: 2rem; }
    .navigation__links {
      visibility: hidden;
      height: 100vh;
      padding: 6rem;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      align-items: center;
      width: 100%;
      background-color: inherit;
      display: flex;
      flex-direction: column;
      transition: all 0.4s; } }

.rotate {
  transform: rotate(90deg); }

#moon {
  transition: opacity 0.8s, transform 1.1s; }
  #moon:active {
    transform: translateX(1.7rem); }

#sun:active {
  transition: opacity 0.8s, transform 1.1s;
  transform: translateX(-1.7rem); }

.header {
  max-width: 98rem;
  margin: 0 auto;
  display: flex;
  padding: 3rem;
  min-height: 10rem;
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .header {
      flex-direction: column; }
      .header__ilustration {
        display: none !important; }
      .header__ilustration, .header__about {
        width: 100% !important; } }
  .header__ilustration {
    display: flex;
    width: 50%; }
  .header__text {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-text-dark); }
  .header__about {
    width: 50%; }
  .header__image {
    margin-left: auto;
    width: 100%;
    display: inline-block; }

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  display: inline-block; }
  .btn:hover {
    background-color: var(--color-primary-1); }

.main {
  max-width: 98rem;
  margin: 2rem auto;
  padding: 3rem; }

.grid {
  display: grid;
  grid-template-rows: repeat(4, minmax(10rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem; }

.column {
  min-height: 10rem; }

.project {
  background-color: var(--color-bg-grey-light);
  border-radius: 0.5rem;
  box-shadow: var(--small-shadow);
  padding: 1rem; }
  .project__image-box {
    overflow: hidden; }
  .project:not(:last-child) {
    margin-bottom: 2rem; }
  .project__image {
    width: 100%;
    transition: transform 0.5s; }
    .project__image:hover {
      transform: scale(1.4); }
  .project__title {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--color-text-dark); }
  .project__text {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-text-light); }

.heading__title {
  margin: 1rem 3rem;
  font-size: 3rem;
  color: var(--color-text-dark);
  text-align: center; }

u-slow {
  transition: all 1s; }
